$home-color: $black;
$home-size: 500px;
$svg-separator-size: 2rem;

.home-separator {
  width: 100%;
  height: $svg-separator-size;
  position: relative;
  top: -1px;
}

.home-highlight {
  background: $blue;
  color: #fff;

  & h1 {
    color: $blue-dark;
  }

  & .button.primary {
    background: $pink;
    border-color: darken($pink, 10%);
    &:focus, &:hover, &:active {
      background-color: darken($pink, 5%);
    }
    &[disabled] {
      cursor: auto;
      background-color: darken($pink, 5%);
    } 
    
  }

}

.message {
  padding: 1rem;
  background: $orange;
  color: $white;
  border-radius: 3px;
  @media #{$medium-up} {
    font-size: 100%;
  }
}

.stats {
  padding: $section-vertical-margin 0;
  background: $blue-dark;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number-and-text {
  margin: 0 1rem;
  flex-grow: 1;
  text-align: center;
  .text {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,.5);
    text-shadow: 1px 1px 1px #000;
  }
}

.communities {
  padding-top: 1rem 0;
}

.number {
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1.1;
}

.icon-video, .icon-photos, .icon-agenda {
  vertical-align: text-bottom;
  margin: 0 5px 0 0;
}
