$map-center: '40.399567,-3.839917';
$map-marker: '/img/map-marker.svg';
$venue-geo: '40.399567,-3.837917';
$key: 'AIzaSyBBqBM0a6puvXBrsMg6r2lnrOxF6NgszMQ';
$map-border: 1px solid $gray-light;

.location {
  border-top: $map-border;
  border-bottom: $map-border;
}

.map {
  display: block;
  background-position: 50% 50%;
  height: 500px;
  border-bottom: $map-border;
  background-image: url('https://maps.googleapis.com/maps/api/staticmap?zoom=14&center=#{$map-center}&size=1000x700&scale=2&language=en&markers=icon:#{$map-marker}|#{$venue-geo}&maptype=roadmap&style=visibility:on|lightness:40|gamma:1.1|weight:0.9&style=element:labels|visibility:off&style=feature:water|hue:0x0066ff&style=feature:road|visibility:on&style=feature:road|element:labels|saturation:-30&key=#{$key}')
}

.transport-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem 0;
}

.transport-separator {
  margin: 0 0.5rem;
}

.transport {
  text-decoration: none;
  white-space: nowrap;
}

.metro, .bus {
  margin-right: 1rem;
  fill: $black;
  width: 2rem;
  height: 2rem;
}

.location-description {
  padding: 1rem;
  background: $blue-dark;
  color: white;
}

.location-link {
  color: inherit;
  &:hover, &:focus, &:active {
    color: #96d7ff;
  }
}

.ceu-logo-a {
  display: block;
  margin-bottom: 1rem;
}

.ceu-logo {
  width: 200px;
}