.subscribe {
  background-image: url(/img/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe,
.subscribe-title {
  color: $white;
  text-shadow: 1px 1px 0px rgba(0,0,0,.4);
}

.subscribe-form input[type="email"] {
  border-color: #aaa;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
}
