.sponsors-img {
  display: block;
  width: 270px;
  height: auto;
  margin: 0 2rem 2rem;
}

.community {
  display: inline-block !important;
  overflow: hidden;
  text-indent: -100000px;
  white-space: nowrap;
  opacity: .6;
  margin: 0 1rem .5rem 0;
  width: 120px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: opacity .3s ease-out;
  filter: grayscale(100%);
  &:hover, &:focus, &:active {
    filter: none;
    opacity: 1;
  }
}

@media #{$medium-up} {
  .sponsors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .sponsors-img {
    width: 350px;
  }
  .sponsors-text {
    flex-grow: 1;
    flex-basis: 0;
  }
}