.category-sponsors {
  display: inline-block;
  padding-top: 1rem;
}

.sponsor-category {
  width: 100%;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid $gray-light;
}

.sponsor {
  width: 33%;
  margin-right: 1rem;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  min-width: 120px;
  max-width: 150px;
}

.platinum .sponsor {
  width: 50%;
  max-width: 400px;
}

.gold .sponsor {
  width: 40%;
  max-width: 400px;
}

.sponsors-img {
  display: block;
  width: 270px;
  height: auto;
  margin: 0 2rem 2rem;
}

.community {
  display: inline-block !important;
  overflow: hidden;
  text-indent: -100000px;
  white-space: nowrap;
  opacity: .6;
  margin: 0 1rem .5rem 0;
  width: 120px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: opacity .3s ease-out;
  filter: grayscale(100%);
  &:hover, &:focus, &:active {
    filter: none;
    opacity: 1;
  }
}

.sponsors-offers {
  display: inline-block;
  margin-bottom: 0;
}

.sponsor-offer {
  display: inline-block;
  max-width: 40%;
  margin-right: 1rem;
}

.sponsor-offer-link > img {
  vertical-align: middle;
}

.return-top {
  float: right;
  font-size: 80%;
}

.offer-desc {
  font-size: 80%;
}

@media #{$medium-up} {
  .category-sponsors {
    padding-top: 0;
  }
  .sponsor-category {
    align-items: center;
    display: inline-flex;
  }
  .category-name {
    white-space: nowrap;
    padding-right: 9rem;
    width: 200px;
  }
  .sponsor {
    width: 20%;
    margin-right: 2rem;
  }
  .platinum .sponsor {
    max-width: 36%;
  }
  .gold .sponsor {
    max-width: 25%;
  }
  .sponsors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .sponsors-img {
    width: 350px;
  }
  .sponsors-text {
    flex-grow: 1;
    flex-basis: 0;
  }
  .sponsor-offer {
    max-width: 15%;
  }
}