$techsessions-avatar-size: 200px;

.techshessions-img {
  width: 100%;
  padding-bottom: 1rem;
}

.techshessions-bg-container {
  text-align: center;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .techshessions-img, > h1 {
    position: relative;
    z-index: 2;
    flex-grow: 1;
  }
  .techshessions-img {
    max-width: 400px;
    //filter: blur(0px);
    padding: 3rem 3rem 1rem;
  }
  > h1 {
    color: $white;
    //filter: blur(0px);
    margin-bottom: 0;
    padding-bottom: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 1px $black;
  }
}

.techshessions-bg {
  background-image: url(/img/techshessions-bg-3.jpeg);
  background-size: cover;
  text-align: center;
  //filter: blur(3px);
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.techshessions-links {
  padding: 1rem 0;
  display: flex;
  background-color: $gray-lighter;
  align-items: baseline;
  justify-content: center;
}

.techshessions-link {
  max-width: 140px;
  width: 50%;
  flex-grow: 1;
  margin: 0 2rem;
}

.techshessions-member {
  display: inline-block;
  position: relative;
  margin: 0 1rem 1rem 0;
  .data {
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    background: rgba($white, .7);
    justify-content: center;
    align-items: center;
  }
  &:hover, &:focus, &:active {
    .data {
      opacity: 1;
      visibility: visible;
    }
  }
  > .avatar {
    width: $techsessions-avatar-size;
    max-width: $techsessions-avatar-size;
  }
}

.lazy-avatar-spinner {
  position: absolute;
  width: $techsessions-avatar-size;
  height: $techsessions-avatar-size;
  background-color: $gray-light;
  border-radius: 500%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}