<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <meta name="author" content="Carlos Coloma">
  <meta name="description" content="Commit es el evento que junta a todas las comunidades de desarrolladores IT de España durante dos días.">
  <meta name="google-site-verification" content="">
  <link rel="canonical" href="https://2019.commit-conf.com">
  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@commit-conf">
  <meta name="twitter:description" content="Commit es el evento que junta a todas las comunidades de desarrolladores IT de España durante dos días.">
  <!-- Social: Facebook / Open Graph -->
  <meta property="og:title" content="Commit - For the communities, by the communities"> 
  <meta property="og:site_name" content="Commit - For the communities, by the communities"> 
  <meta property="og:type" content="website"> 
  <meta property="og:url" content="https://2019.commit-conf.com">
  <meta property="og:image" content="https://2019.commit-conf.com/img/logo.svg">
  <meta property="og:description" content="Commit es el evento que junta a todas las comunidades de desarrolladores IT de España durante dos días."> 
  <title>{{ .Site.Title }}</title>
</head>
<body>
  {{ partial "header.html" . }}
  <main role="main">
    {{ block "main" . }}{{ end }} 
  </main>
  {{ partial "footer.html" . }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114399004-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114399004-1');
  </script>


</body>
</html>