{{ define "main" }}
  <section class="content" id="offers">
    <h1>{{ i18n "JobOffers" }}</h1>
    <ul class="sponsors-offers">
      {{ range $categories := $.Site.Data.sponsors }}
        {{ range $sponsor := $categories.items }}
          {{ if $sponsor.offerJob }}
            <li class="sponsor-offer">
              <a href="#{{ $sponsor.name | replaceRE "-" "" | replaceRE "\\s" "-" }}" class="sponsor-offer-link">
                <img src="/img/sponsors/{{$sponsor.logo}}" alt="{{$sponsor.name}}" title="{{$sponsor.name}}">
              </a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
    {{ range $categories := $.Site.Data.sponsors }}
      {{ range $sponsor := $categories.items }}
        {{ if $sponsor.offerJob }}
          {{ $normalizedSponsorName := $sponsor.name | replaceRE "-" "" | replaceRE "\\s" "-" }}
          <article id="{{ $normalizedSponsorName }}">
            <hr/>
            <a class="return-top" href="#offers">{{ i18n "ReturnTop" }}</a>
            <h2 class="sponsor-offer">
              <a href="#{{ $normalizedSponsorName }}" class="sponsor-offer-link">
                <img src="/img/sponsors/{{$sponsor.logo}}" alt="{{$sponsor.name}}" title="{{$sponsor.name}}">
              </a>
            </h2>
            <div class="offer-desc">
              {{ partial (printf "%s%s%s" "offers/" (lower $normalizedSponsorName) ".html") }}
            </div>
          </article>
        {{ end }}
      {{ end }}
    {{ end }}
  </section>
{{ end }}