{{ define "main" }}

<section class="content">
  <h1>{{ i18n "TheTeam" }}</h1>
  <h2>{{ i18n "TheTeamSubtitle" }}</h2>
  <p>{{ i18n "TheTeamDesc" }}</p>
  <div class="team">
    {{ range $.Site.Data.team }}
      <div class="avatar-and-text">
        <div>
          <img src="/img/team/{{.avatar}}.jpeg" class="avatar" />
        </div>
        <div class="text">
          <div><b>{{ .name }}:</b> {{ (index .desc $.Site.Language.Lang) }}</div>
          {{ if isset . "twitter" }}
            <a href="https://twitter.com/{{.twitter}}">{{.twitter}}</a>
          {{ end }}
        </div>
      </div>  
    {{ end }}
  </div>
</section>
<svg class="separator" viewBox="0 0 500 500" preserveAspectRatio="none" aria-hidden="true">
  <polygon points="0,0 500,150 500,500 0,350"></polygon>
</svg>
<section class="content">
  <h2>{{ i18n "Communities" }}</h2>
  <p>{{ i18n "ThanksToCommunities" }}</p>
  <div class="communities">
    {{ partial "communities_logos" }}
  </div>
</section>

{{ end }}