{{ define "main" }}

<div class="techshessions-bg-container">
  <div class="techshessions-bg"></div>
  <img src="/img/TechSHEssions.svg" class="techshessions-img">
  <h1>{{ i18n "TechSHEssions"}}</h1>
</div>

<section class="techshessions-links">
  <a class="techshessions-link" href="https://www.meetup.com/es-ES/Tech-SHEssions/"><img src="/img/meetup.svg" /></a>
  <a class="techshessions-link" href="https://www.youtube.com/playlist?list=PLu976vDeELBoOaC8OW2HrgaKkeWLpvco5"><img src="/img/youtube.svg" /></a>
</section>

<section class="content"> 
  <h2>{{ i18n "TechSHEssionsObjectives" }}</h2>
  {{ i18n "TechSHEssionsObjectivesDesc" | safeHTML }}
  <div class="youtube-player-container text-center">
    <iframe class="youtube-player" width="560" height="315" src="https://www.youtube.com/embed/fqv-o_UT1U8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</section>

{{ partial "separator.html" }}

<section class="content">
  <h2>{{ i18n "WantToBeAStudent" }}</h2>
  <p>{{ i18n "WantToBeAStudentDesc" }}</p>
  <h3>{{ i18n "StudentRequirements" }}</h3>
  <p>{{ i18n "StudentRequirementsDesc" | safeHTML }}</p>
</section>

{{ partial "separator.html" (dict "class" "theme-2") }}

<section class="content">
  <h2>{{ i18n "WantToBeAMentor" }}</h2>
  <p>{{ i18n "WantToBeAMentorDesc" }}</p>
  <h3>{{ i18n "MentorRequirements" }}</h3>
  <p>{{ i18n "MentorRequirementsDesc" }}</p>
</section>

{{ partial "separator.html" (dict "class" "theme-3") }}

<section class="content">
  {{ partial "tech-shessions-members.html" (dict "title" "OurStudents" "members" $.Site.Data.techshessions.students) }}
  {{ partial "tech-shessions-members.html" (dict "title" "OurMentors" "members" $.Site.Data.techshessions.mentors) }}
</section>

{{ partial "separator.html" (dict "class" "theme-4") }}

<section class="content">
  <h2>{{ i18n "TechSHEssionsCollaborators" }}</h2>
  <p>{{ i18n "TechSHEssionsCollaboratorsDesc" }}</p>
  <div class="techshessions-collaborators">
    <a href="https://openspace.bbva.com/madrid/" title="BBVA Open Space" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/techshessions/bbva-open-space.png" title="BBVA Open Space" alt="BBVA Open Space" class="techshessions-collaborator-img"/>
    </a>
    <a href="https://www.campus.co/madrid/es" title="Campus Madrid" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/techshessions/campus-madrid.png" title="Campus Madrid" alt="Campus Madrid" class="techshessions-collaborator-img"/>
    </a>
    <a href="https://www.tuenti.es/" title="Tuenti" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/sponsors/tuenti.svg" title="Tuenti" alt="Tuenti" class="techshessions-collaborator-img"/>
    </a>
    <a href="http://flagshipstore.telefonica.es/" title="Flagship Telefónica" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/techshessions/flagship-telefonica.png" title="Flagship Telefónica" alt="Flagship Telefónica" class="techshessions-collaborator-img techshessions-flagship"/>
    </a>
    <a href="https://digitalinnovationcenter.es/" title="Digital Innovation Center" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/techshessions/dic.svg" title="Digital Innovation Center" alt="Digital Innovation Center" class="techshessions-collaborator-img" />
    </a>
    <a href="https://www.seedtag.com/" title="seedtag" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/techshessions/seedtag.png" title="seedtag" alt="seedtag" class="techshessions-collaborator-img" />
    </a>
    <a href="https://www.makingscience.com/" title="Making Science" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/techshessions/making-science.jpg" title="Making Science" alt="Making Science" class="techshessions-collaborator-img" />
    </a>
    <a href="http://www.uspceu.com/" title="Universidad San Pablo CEU" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/sponsors/ceu.png" title="Universidad San Pablo CEU" alt="Universidad San Pablo CEU" class="techshessions-collaborator-img" />
    </a>
    <a href="https://www.liferay.com/es/home" title="Liferay" target="_blank" rel="noopener noreferrer" class="techshessions-collaborator">
      <img src="/img/techshessions/liferay.svg" title="Liferay" alt="Liferay" class="techshessions-collaborator-img" />
    </a>
    
  </div>
</section>

<script async src="/js/techshessions.js" />
</script>
{{ end }}