<h3>Full-Stack Engineer</h3>
<p>
  Accenture Technology is the place for someone looking for a challenging IT career and
  access to the kind of training, expertise and development tools that only a large company
  can offer. Our international reach also means you could have the opportunity to be part of
  a truly global organization of smart, technically-minded people and work with dynamic
  clients in countries all over the world.
</p>
<p>
  ARE YOU READY to step up to the New and take your technology expertise to the next
  level? We are looking for <b>Full Stack Engineers</b> for our offices in <b>Madrid</b>!
</p>
<p>
  Do you have a passion for using new technologies to make a positive impact on business
  and community? Want a role that provides you with a sense of purpose and satisfaction?
  Then join Accenture Technology and build a rewarding career improving the way the world
  works and lives, as you help clients shift to the New using leading-edge technologies on
  some of the coolest projects you can imagine.
</p>
<p>
  Thrive in our highly collaborative, digitally-driven and innovation-led environment. Nurture
  your talent for thoughtful and game changing solutions in our inclusive culture that values
  diversity of ideas, experiences and backgrounds. Join Us!
</p>
<p><b>What would You Do?</b></p>
<p>
  As a Full-Stack Engineer, you will work with our clients to design and deliver the
  Architecture on complex custom projects using the latest technologies to build advanced
  client-side applications that transcend the Single Page Application interaction paradigm and
  bring the feel of native applications into the browser. The successful candidate will have
  deep JavaScript experience as well as experience with ‘full stack’ Web development and
  familiarity with many of the latest technologies and patterns emerging in Web development
  today.
</p>
<p><b>Key Responsibilities may include:</b></p>
<ul class="square">
  <li>Design and develop highly scalable production level code for our enterprise products using Java, JavaScript, Angular and many open source libraries.</li>
  <li>Perform Full Stack software development for core web applications from client side to the NO SQL Graph database and everything in between.</li>
  <li>Implement core REST + JSON based APIs.</li>
  <li>Develop automated solutions to build, deploy, and test applications in a cloud environment.</li>
  <li>Work closely alongside other developers and QA engineers using the Agile software development lifecycle.</li>
  <li>Write automated unit tests.</li>
  <li>Work in a dynamic, changing environment using continuous integration and a dev-ops model to rapidly develop, test, and deploy code into production.</li>
  <li>Research and implement solutions using new technologies.</li>
</ul>
<p><b>Basic Qualifications</b></p>
<ul class="square">
  <li>Minimum 2 years of experience building web applications with Java technologies.</li>
  <li>2 years of experience with Java programing language</li>
  <li>Proficient with UI technologies: JavaScript, HTML, CSS</li>
  <li>Proficient with Databases.</li>
  <li>Proficient developing REST APIs</li>
  <li>Experience with Spring Framework</li>
  <li>B2 English level at least.</li>
</ul>
<p><b>Set Yourself Apart: Preferred qualifications</b></p>
<ul class="square">
  <li>Working knowledge of JavaScript libraries like Angular or React</li>
  <li>Experience writing unit tests</li>
  <li>Usage of Git, SVN or similar version control systems</li>
  <li>Experience working with Docker containers</li>
  <li>Experience with AWS/ Azure or Google Cloud environments</li>
  <li>Experience with Big Data technologies</li>
  <li>Experience with Agile and/or DevOps practices</li>
</ul>
<p><b>Professional Skill Requirements</b></p>
<ul class="square">
  <li>Proven success in contributing to a team-oriented environment</li>
  <li>Proven ability to work creatively and analytically in a problem-solving environment</li>
  <li>Excellent communication´s skills (written and oral) and interpersonal skills</li>
</ul>
<p>To apply for this opportunity, please send your CV to <a href="mailto:eventos-recruiting@accenture.com">eventos-recruiting@accenture.com</a></p>
<p><small>
  Please also note that Accenture is an equal opportunities employer and welcomes applications from all sections of society and
  does not discriminate on grounds of race, religion or belief, ethnic or national origin, disability, age, citizenship, marital, domestic
  or civil partnership status, sexual orientation, or gender identity.
</small></p>