<h3>Software Engineer (Frontend /Backend)</h3>
<p>
  En adidas creemos que el deporte tiene el poder de cambiar vidas y es por eso que trabajamos todos los días para inspirar y capacitar a las personas a aprovechar el poder del deporte en sus vidas. Esa misma pasión que ponemos en cada uno de nuestros productos también se abre paso en nuestro trabajo digital, con inversiones continuas en ciencia del deporte, tecnología sensorial o plataformas de comunicaciones digitales.  Nuestro equipo Digital IT en Iberia, con base en el centro de Zaragoza, trabaja junto con el equipo ubicado en Alemania, nuestros headquarters. Desde aquí desarrollamos proyectos de impacto mundial, estando compuestos por equipos multidisciplinares y con conocimientos de multitud de tecnologías de vanguardia. La ubicación de nuestras oficinas ofrece fácil acceso a actividades al aire libre para practicar lo que más nos gusta: deportes, como senderismo, esquí, montañismo o ciclismo.
</p>
<p class="text-center">
  <img src="/img/offers/adidas.jpg">
</p>
<p>
  Si tienes experiencia como Desarrollador Backend o Frontend ¡te estamos esperando!
</p>
<p><b>BACK-END´s</b></p>
<ul class="square">
  <li>Experiencia en desarrollo con Java8</li>
  <li>Conocimientos de IT: Java 8, Spring and Boot</li>
  <li>Experiencia con Microservices</li>
  <li>Conocimientos de Docker y Kubernetes son un plus</li>
  <li>Inglés nivel fluido</li>
  <li>Resolución de problemas</li>
</ul>
<p><b>FRONT-END´s</b></p>
<ul class="square">
  <li>Experiencia profesional en desarrollo Frontend</li>
  <li>Conocimientos de IT: JavaScript ES5/6, TypeScript, OOP</li>
  <li>Amplio conocimiento de Angular JS y otros frameworks como React, Vue, Bootstrap son opcionales así como conocimiento de  node</li>
  <li>Buen manejo de las prácticas de CSS (flexbox, postcss, BEM), y herramientas de automatización  (LESS, SASS) , además de Integración continua  (webpack, linter, test runners, npm scripts).</li>
</ul>
<p>Si te sientes identificado con el slogan #adidoescode y quieres formar parte de nuestros equipos trabajando con las tecnologías más punteras, visita nuestras vacantes en <a href="http://bit.ly/zgzadidasIT" rel="noopener noreferrer" target="_blank">este enlace</a> y nuestra página de <a href="https://careers.adidas-group.com/locations/hubs/zaragoza" rel="noopener noreferrer" target="_blank">IT HUB en Zaragoza</a>.</p>
<p>Check out the adidas developer portal to see our latest projects, platforms and tech stacks: <a href="https://adidas.github.io/" rel="noopener noreferrer" target="_blank">https://adidas.github.io/</a></p>
<p>
  THROUGH SPORT, WE HAVE THE POWER TO CHANGE LIVES
</p>    
                                                             
    