<h3>Software Development Engineers – Amazon Madrid</h3>
<p>
  Amazon’s International Consumer organization creates some of the world’s most cutting-edge
  software products on Earth. We are looking for talented engineers of all experience levels who
  take great pride in both the technical and business contributions of their work. You will be given
  the chance to have a significant impact on our systems, our business and most importantly, our
  customers. As a member of our team, you will work closely with the business to innovate,
  design and continue to apply new features which improve the experience of millions of
  customers using Amazon in Europe and throughout the world each day.
</p>
<p>
  Our engineering teams own all aspects of an agile software development life cycle, starting
  from inception and architectural design through development, testing and operations. You will
  have the opportunity to solve varied complex problems across Amazon, including technical
  challenges in optimization, large-scale computing, distributed systems, web applications, big-
  data, scalability, security, algorithms, machine learning, and more. You will get to learn, work
  with, and improve the variety of services, tools, and software development processes used
  internally at Amazon including those offered to our customers. As a Software Engineer in
  Amazon’s International Consumer organization, you will become an integral part of our team
  and have the opportunity to work with some of the most experienced and talented
  professionals across Europe and the rest of the world.
</p>
<p>
  Amazon has hundreds of millions of customers who benefit from diversity of thought. We are a
  company of builders who bring varying backgrounds, ideas, and points of view to decisions and invent
  on behalf of our broad set of customers. Our diverse perspectives come from many sources including
  gender, race, age, national origin, sexual orientation, disability, culture, education, as well as
  professional and life experience.
</p>
<p>
  Currently, our Madrid Tech Hub hosts a diverse staff of over 200+ software engineers with 32
  nationalities represented... and growing! Our Madrid Tech Hub is centrally located in one of Madrid&#39;s
  most up and coming neighborhoods near the Delicias Cercanias and Metro stations.
</p>
<p>
  Become a part of Amazon’s International Consumer team and a part of a team that has a passion for
  creativity, analytical problem solving, and strives to live Amazon&#39;s motto: <i>“Work Hard. Have Fun. Make
  History.”</i>
</p>
<p><b>Basic Qualifications:</b></p>
<ul class="square">
  <li>Computer Science fundamentals in object-oriented design, algorithms and data structures, problem solving, and complexity analysis</li>
  <li>Experience in at least one modern programming language such as C++, C#, or Java</li>
  <li>We are language agnostic in our recruiting process. For us, language and technology stack are tools, not limitations. What we value most is how you apply your technical background to solve complex problems and build new products</li>
  <li>Proficiency in English (written and spoken), Spanish is not required</li>
  <li>Additional qualifications vary according to job family and seniority</li>
</ul>
<p>
  Interested in joining us and hearing more? Make sure to summit your application through this
  Commit specific <a href="https://www.amazon.jobs/en/jobs/737047/software-development-engineer" rel="noopener noreferrer" target="_blank">link</a>. This will allow recruiting to follow up with you providing full coverage on recruitment
  process, open roles, career growth and answer anything questions you might have.
</p>
<p>
  We also have Software Development Manager, Technical Program Manager and UX/UI
  positions available. Want to know more? Write us at <a href="mailto:Amazonjobs-commit2018@amazon.com">Amazonjobs-commit2018@amazon.com</a>
</p>
<p><small>
  Amazon is an Equal Opportunity - Affirmative Action Employer - Female/Minority/Disability/Ve
  Qualified applicants with criminal histories will be considered in a manner consistent with all applicable
  local, state and federal laws.
</small></p>