<h3>Desarrollador/a de Software Senior</h3>
<p>Autentia es una empresa de soporte a desarrollo de software, pero no una cualquiera. En nuestra empresa diferente ofrecemos:</p>
<ul class="square">
  <li><b>Aprendizaje continuo</b>: ¡el aprendizaje está en tu mano! Te ofrecemos un trabajo dinámico y la posibilidad de aprender en otras áreas diferentes a la tuya.</li>
  <li><b>Buenos medios</b>: hardware de última generación.</li>
  <li><b>Horario flexible</b>: adapta el horario a tu vida personal.</li>
  <li><b>El mejor equipo</b>: somos un equipo joven, motivado y de alto nivel tecnológico. el trabajo no es trabajo cuando te rodeas de personas que comparten tus mismas inquietudes.</li>
  <li><b>Contrato indefinido</b> y diversos beneficios sociales.</li>
  <li>Salario: 35.000 - 45.000€</li>
</ul>
<p><b>¿Qué buscamos?</b></p>
<p>Buscamos personas que quieran ser parte de nuestro equipo, no para un proyecto concreto.
Trabajarás con Metodologías Ágiles, utilizando las mejores prácticas (Integración continua, TDD,
herramientas de análisis de código, pair programming, etc) y sobre todo, rodeado de compañeros
motivados y con pasión por la tecnología y el desarrollo de software.
</p>
<p>No es cuestión de años de experiencia, es cuestión de actitud. Si eres buen programador a los 20, ¡serás un crack a los 40!</p>
<p class="text-center">
  <img src="/img/offers/autentia-team.jpg"/>
</p>
<p><b>Conocimientos:</b></p>
<ul class="square">
  <li>Tecnologías Java: Spring, Java EE (JPA – Hibernate, JSF, Rest, SOAP, EJB, JMS, JAX-WS, JAX-RS...)</li>
  <li>Servidores de aplicaciones Java: Tomcat, JBoss/Wildfly, Weblogic, Websphere.</li>
  <li>BBDD: Oracle, SQL Server, MySQL, PostgreSQL...</li>
  <li>Patrones de diseño y de Arquitecturas Software: SOA, BPM, REST, DDD....</li>
  <li>Desarrollo TDD, BDD, ATDD, JUnit, Mockito, Cucumber...</li>
  <li>Gestión de la configuración: Git, Subversion...</li>
  <li>Automatización/Gestión de dependencias y repositorios: Maven, Gradle, Nexus...</li>
  <li>Integración continua y calidad de código: Jenkins, Bamboo, Sonarqube.</li>
  <li>Experiencia trabajando con metodologías ágiles como SCRUM / Kanban, y herramientas: JIRA, Trello, Redmine, Pivotal Tracker...</li>
  <li>APM: AppDynamics, Dynatrace, New Relic, Jmeter...</li>
  <li>Ciberseguridad: Redes, Sistemas Operativos, Pentesting...</li>
</ul>
<p>El hecho de no tener algún conocimiento no es excluyente, para nosotros lo más importante son tus ganas de aprender, por lo que estaremos encantados de valorar tu perfil.</p>
<p>
  Ven a conocernos o déjanos tu CV <a href="https://lk.autentia.com/seniordeveloper" target="_blank" rel="noopener noreferrer">aquí</a>.<br/>
  Si quieres saber más o ver otras ofertas, te contamos todo en nuestra <a href="www.autentia.com" target="_blank" rel="noopener noreferrer">nueva web</a>.
</p>