<h3>Perfiles JAVA</h3>

<p><b>¿Quiénes somos?</b></p>

<p>Somos una empresa española especializada en el desarrollo de productos y soluciones software con las más avanzadas tecnologías, para proporcionar a nuestros clientes soluciones de inteligencia económica que les permitan mejorar sus procesos de negocio, tanto los internos como los asociados a sus clientes maximizando la eficiencia en la toma de decisiones.</p>

<p>Tenemos 20 años de experiencia y sabemos lo que necesitamos, personas entusiastas con ganas de aprender y de formar parte de un equipo joven, profesional con pasión por la tecnología, orientado a la innovación y a los nuevos retos del mercado.</p>

<p><b>¿Qué buscamos?</b></p>

<p>Queremos incorporar a nuestra empresa perfiles Java/J2EE para el equipo de desarrollo y con trato directo con el cliente.</p> 

<p><b>Requisitos:</b></p>

<ul class="square">
  <li>Mínimo Formación Profesional Grado Superior Informática.</li>
  <li>
    Experiencia con la tecnología J2EE:
    <ul class="square">
      <li>JQuery</li>
      <li>SpringMVC</li>
    </ul>
  </li>
  <li>
    Deseable:
    <ul class="square">
      <li>Angular</li>
      <li>Servicios REST</li>
    </ul>
  </li>
</ul>

<p><b>¿Qué te ofrecemos?</b></p>

<ul class="square">
  <li>Jornada continua anual con flexibilidad de entrada.</li>
  <li>1 día de teletrabajo por semana.</li>
  <li>Medidas de conciliación que te ayudarán a conciliar tu vida personal y profesional.</li>
  <li>Formar parte de Future Space significa buen ambiente y compromiso social con el entorno que nos rodea.</li>
  <li>Desde que entres a trabajar con nosotros, te acompañará un manager/tutor que te ayudará en tu desarrollo profesional dentro de la compañía y juntos diseñaréis tu plan de carrera individualizado.</li>
  <li>Trabajar en un equipo con una fuerte orientación a la innovación donde se realizan distintas iniciativas a lo largo del año para promoverla.</li>
  <li>Contrato de trabajo indefinido.</li>
  <li>Incorporación Inmediata.</li>
  <li>Lugar de Trabajo: San Sebastián de los Reyes (Madrid).</li>
</ul>

<p><b>¿Te interesa?</b> Haz click en el siguiente enlace <a href="https://www.futurespace.es/trabaja-con-nosotros/" target="_blank" rel="noopner noreferrer">https://www.futurespace.es/trabaja-con-nosotros/</a> y simplemente cuelga tu CV, nos pondremos en contacto contigo!</p>