<h3>Technology Lovers</h3>
<p>
  Hotelbeds Group is a leading provider of travel solutions which comprises of four specialist business units. The most established business unit is Bedbank - the No.1 B2B bedbank worldwide and Bedsonline - a leading booking engine used by retail travel agencies worldwide.
</p>
<p>
  We also specialise in solutions within Destination Management - a luxury travel and cruise port services as well as meeting and incentive solutions company; Transfer and Activity Bank - a supplier of transfer routes and destination activities as well as excursions and car rental products and New Ventures - a business that offers a variety of solutions to help push boundaries in visa outsourcing and processing, marketing solutions and B2B car rental booking. 
</p>
<p>
  All of Hotelbeds Group business units play an important role in reshaping travel across a diverse range of market segments.
</p>
<p>
  The Bedbank business unit is leading Hotelbeds Group charge to reshape travel. It contracts, connects and efficiently distributes a differentiated portfolio of +100,000 hotels to leading travel trade industry partners including online travel agencies (OTAs), retail agencies, tour operators and airlines. Our main Bedbank brands include Hotelbeds, Bedsonline, Hotelopia, Travel Partner Brasil, Room & Go, JBS and Easymarket. This position sits within our Bedbank unit.
</p>
<p><b>
  Job description:
</b></p>
<p>
  All of our activity is based on technological solutions, for this reason we are focused on incorporating the most advance technologies in the solutions designed and implemented.
</p>
<p>
  You will have the opportunity to work for a company that is going through significant change in becoming the world´s leading travel services provider and gain technical exposure in any of our following departments:
</p>
<ul class="square">
  <li>Technology, Strategy & Governance</li>
  <li>Architecture</li>
  <li>Development</li>
  <li>Operations</li>
  <li>Corporate IT & Security</li>
</ul>
<p>
  You will need the curiosity and motivation to become a part of an ever changing business during its most exciting journey. In return, we will provide you with exposure into challenging projects that will give you experience to further develop and shape your career as well as build strong and lasting business relationships and friendships both locally and globally.
</p>
<p><b>
  What are we looking for?
</b></p>
<p>
  We are seeking for top specialists in software, infrastructures, BI and other IT roles who love working in a challenging context. Our team is set up to achieve a high performance, not to be afraid of new challenges, use the most advanced technology and work together to maximize the value in the things we do.
</p>
<p>
  If you are the kind of person willed to set path, work with others and participate in the creation of a new way of understanding tourism, we are the perfect match!
</p>
<p><b>
  What we offer?
</b></p>
<p>
  Competitive salary, relocation package, 2 days a week of remote working and many other benefits, including private medical insurance, discounts for travel… are provided.
</p>
<p>
  Our organization believes that it is critical to encourage personal development to have a successful team. Working with us, you will have the opportunity to expand and improve your skill sets in many advanced areas of knowledge. Our development environment has a laid back feeling, with casual dress throughout the week. Schedules are flexible within reason.
</p>
<p>
  People have always been at the heart of our business and we actively encourage a culture that enables people to work together creatively. In summary we offer a great environment in which to develop your future career!
</p>
<p>
  Our office is located in one of the best places in the world to live in, Palma de Mallorca: 5 minutes from the Airport and 10 to the city. Free shuttle bus service is also offered for all Hotelbeds collaborators.
</p>
<p>
  If it could be interesting for you and you are the kind of person willed to set path, work with others and participate in the co-creation of a new way of understanding tourism, we are waiting for you!
</p>
<p>
  You will have the opportunity to work for a company that is going through significant change in becoming the world´s leading travel services provider. We are looking for people that are ready to ride the wave in this exciting journey. As well as an attractive benefits package you will be able to work within an innovative, engaging and multicultural environment.
</p>
<p>
  Have the opportunity to build strong and lasting business relationships and friendships from around the world.
</p>
<p>
  Have the opportunity in developing your career locally or within one of our beautiful working locations across the globe. 
</p>
<p>
  Apply <a href="http://bit.ly/2D6kS3R" target="_blank" rel="noopener noreferrer">here</a>. 
</p>