<p><b>Nombre de la posición</b></p>
<p>Bluecamp - programa de prácticas (varios perfiles para Security, Cloud, Big Data & Analytics, IoT, Cognitive) oferta varias posiciones:</p>
<ul class="square">
  <li><a target="_blank" href="https://careers.ibm.com/ShowJob/Id/209102/Application-Architect-Big-Data/?lang=en" rel="noopener noreferrer">Application Architect - Big data</a></li>
  <li><a target="_blank" href="https://careers.ibm.com/ShowJob/Id/372695/Cognitive-Computing-Architect/?lang=en" rel="noopener noreferrer">Cognitive Computing Architect</a></li>
  <li><a target="_blank" href="https://careers.ibm.com/ShowJob/Id/316605/Enterprise-DevOps-Architect/?lang=en" rel="noopener noreferrer">Enterprise DevOps Architect</a></li>
  <li><a target="_blank" href="https://careers.ibm.com/ShowJob/Id/209109/DevOps-engineer-Infrastructure-developers/?lang=en" rel="noopener noreferrer">DevOps Engineer - Infrastructure Developer</a></li>
  <li><a target="_blank" href="https://careers.ibm.com/ShowJob/Id/316613/IAM-Delivery-Specialist/?lang=en" rel="noopener noreferrer">IAM Delivery Specialist</a></li>
  <li><a target="_blank" href="https://careers.ibm.com/ShowJob/Id/217115/TRIRIGA-Application-Architect/?lang=en" rel="noopener noreferrer">TRIRIGA Application Architect</a></li>
</ul>
<p><b>Descripción de la empresa</b></p>
<p>International Business Machines, abreviada IBM y apodada "Big Blue", es una corporación multinacional de consultoría, tecnología y soluciones informáticas con sede en Armonk, Nueva York, Estados Unidos.</p>
<p>Es una de las pocas empresas de tecnología de la información con una historia continua desde el siglo XIX y quizás la que posee el portfolio más amplio de todo el mercado, la única capaz de cubrir - de principio a fin - todas las necesidades tecnológicas de nuestros clientes.</p>
<p>IBM fabrica y comercializa tanto hardware como software, ofreciendo servicios de infraestructura, servicios de alojamiento, y servicios de consultoría, en áreas que van desde ordenadores centrales a nanotecnología. Ginni Rometty es la presidenta y CEO de IBM.</p>
<p>IBM posee más patentes que cualquier otra compañía de tecnología con sede en EE.UU y viene siendo líder en patentes 25 años consecutivos. Cuenta con 11 laboratorios de investigación en todo el mundo. La empresa cuenta con científicos, ingenieros, consultores y profesionales de ventas en más de 170 países. Los empleados de IBM (llamados IBMers) han ganado 5 Premios Nobel, 4 premios Turing, 5 Medallas Nacionales de Tecnología, y 5 Medallas Nacionales de Ciencia.</p>
<p class="text-center">
  <img src="/img/offers/ibm-offer.jpg"/>
</p>
<p><b>Qué ofrecéis y qué buscáis</b></p>
<p>Pocos lugares ofrecen tantas oportunidades como IBM para ganar conocimiento en tu campo de experiencia y trabajar en un entorno estimulante.</p>
<p>Aprende nuevas habilidades, trabaja en diferentes disciplinas o avanza hacia nuevos desafíos. Todo ello es posible con nuestro galardonado sistema de desarrollo profesional personalizado y capacitación en liderazgo. En promedio, cada empleado de IBM aprovecha más de 60 horas de formación al año.</p>
<p>Creemos que la innovación global exige empleados diversos e iniciativas atractivas de compatibilizar trabajo y vida que las sostengan y retengan. IBM te permite poder diseñar tu jornada laboral y tu vida, de acuerdo con tu estilo y necesidades únicas.</p>
<p>Somos la compañía de IT y consultoría más grande del mundo. Construye tu carrera mientras trabajas en los ámbitos claves para la sociedad. Desde la producción de energía hasta el cambio climático, la congestión del tráfico, la atención médica hasta la mejora del bienestar social.</p>
<p>Sentirás que formas parte del futuro empresarial. Construye tu experiencia, utiliza tu conocimiento al máximo y reinvéntate.</p>
<p><b>Contacto para enviar la candidatura</b></p> 
<p>Las candidaturas deben hacerse a través de nuestra <a href="https://www-05.ibm.com/employment/es-es/" target="_blank" rel="noopener noreferrer">página de empleo</a>.</p>
<p>Ahora además puedes esperar a que el empleo perfecto te llegue a ti. Apúntate a nuestra <a href="https://www.applytracking.com/optin.aspx?c=gLO3OFtwdyqJJyUrXdmEg3BCRNgaQznN" target="_blank" rel="noopener noreferrer">talent network</a> y te enviaremos las ofertas que mejor se ajusten a tu perfil.
