<div>
  <h3>
    Backend Developer
  </h3>
  <p>
    ¿Eres un apasionado de la programación?<br/>
    ¿Te gustan los desafíos de negocio y estás acostumbrado a trabajar cerca del cliente?<br/>
    Sí te gusta estar rodeado de buenos compañeros, trabajar con buen rollo y en un ambiente colaborativo ¡sigue leyendo!
  </p>
  <p>Buscamos a chicos y chicas con muchas ganas de aprender, de crecer profesionalmente y con pasión por la programación y las tecnologías.</p>
  <p><b>¿Qué te ofrecemos?</b></p>
  <p>Si disfrutas programando, superando retos y aprendiendo todos los días, entonces te ofrecemos pasarlo muy bien!</p>
  <p>Además, formarás parte de un equipo de tecnología altamente motivado, trabajando con metodologías ágiles y diferentes tecnologías, con un alto grado de autonomía y responsabilidad.</p>
  <ul class="square">
    <li>Encontrarás el mejor ambiente de trabajo, un entorno informal y multicultural, con una plantilla joven y un equipo altamente cualificado. Aprenderás de los mejores.</li>
    <li>Plan de retribución flexible.</li>
    <li>Formación inicial y continuada.</li>
  </ul>
  <p><b>Requisitos importantes</b> para trabajar con nosotros:</p> 
  <ul class="square">
    <li>Ganas de aprender y pasión por la programación.</li>
    <li>Experiencia mínima de 2-3 años como desarrollador backend.</li>
    <li>Experiencia en desarrollo en Java.</li>
    <li>Capacidad de análisis y resolución de problemas, autonomía e iniciativa.</li>
    <li>Alta capacidad de aprendizaje técnico y de negocio.</li>
    <li>Trabajar en equipo y compartir conocimientos.</li>
  </ul>
  <p><b>Otras cosas que valoramos</b> muy positivamente:</p>
  <ul class="square">
    <li>Experiencia en desarrollo para CRMs o ERPs internos o externos</li>
    <li>Experiencia en análisis/mantenimiento/desarrollo de aplicaciones internas.</li>
    <li>Experiencia con Spring framework</li>
  </ul>
  <p>Te reconoces? <a href="https://www.linkedin.com/jobs/view/705825558/" target="_blank" rel="noopener noreferrer">Acepta el reto!</a></p>   
  <p>Te estamos esperando.</p>
</div>