<h3>Front End Engineer</h3>
<p><b>About ING</b></p>
<p>
  ING offers banking services to individuals, families, small businesses, large companies and
  institutions, and it has the mission to put at the service of people and organizations the
  tools to help them achieve a better future.
</p>
<p>
  As a bank 100% digital, it has been always worried about making banking in a different
  way, placing the customer and his progress at the center of its strategy. ING works to
  promote personal progress in line with its philosophy "People in Progress". As a result of
  this, one of every two new customers who came to the bank last year did it based on a
  recommendation.
</p>
<p>
  Inside ING strategy, the international project "Model Bank" is multi-cultural and cross-
  business, and is developing a borderless, scalable, retail platform uniting Spain, Italy,
  France, Czech Republic and Austria. We are offer opportunities both in the international
  Model Bank project and in ING Spain internal projects.
</p>
<p><b>Job Description</b></p>
<p>
  The objectives of the Software Engineer for ours Tribes are:
</p>
<ul class="square">
  <li>To deliver in Production a working software by giving the best use to technology and development practices. It includes the documentation and parameters that can help reaching that goal.</li>
  <li>To support Production by analysis and fixing any bugs that occurs.</li>
  <li>Contribute to improve the technical discipline by collaborating with the cross technical chapter.</li>
  <li>As an expert in the area he/she specifically add value on that technical layer but always keep in mind the rest of the technical stack as part of the Squad responsibilities, as part of its responsibilities.</li>
</ul>
<p><b>Capabilities required</b></p>
<ul class="square">
  <li>Deep knowledge in Javascript and some of this frameworks/ library (polymer, angular, react…)</li>
  <li>TDD y BDD.</li>
  <li>Experience in Agile teams.</li>
  <li>5 years of experience on similar technical stack.</li>
  <li>High level of English.</li>
</ul>
<p>Contact us at <a href="mailto:tengotalento@ing.com">tengotalento@ing.com</a> or our <a href="https://www.linkedin.com/jobs/cap/view/885239123/?pathWildcard=885239123&trk=job_capjs" rel="noopner noreferrer" target="_blank">LinkedIn</a></p>