<h3>DevOps/SRE</h3>

<p>Intelygenz is a business technological partner that helps companies fulfill their business dreams. Our mission is to help customers and partners by translating the latest technology trends into business opportunities.</p>
<p>We have helped more than 100 companies to develop and start their products, and we work and partner with industry leaders such as Zara, Vodafone, Microsoft, MTV, Renault, etc.</p>
<p>Our tech team is growing and we are looking for DevOps engineers!</p>
<p>DevOps in Intelygenz is a profile that singles out a team member with capabilities and skills, aimed at automation, definition and standardization and helps other developers achieve greater efficiency and quality in their work processes.</p>
<p>The DevOps provides other developers with the tools and processes that facilitate integration, continuous deployment and automated tests to help create environments, monitoring and, ultimately, entire ecosystems that help developers be responsible for their own code from their local environments to production environments.</p>

<p><b>Main requeriments:</b></p>
<ul class="square">
  <li>At least 2 years experience in a similar position.</li>
  <li>Thorough knowledge in Unix administrative systems, both physical and virtualized infrastructures and cloud types like AWS, Google Compute Engine, OpenStack etc.</li>
  <li>Knowledge in a configuration management system like Ansible, Puppet, Chef, SaltStack, etc.</li>
  <li>Experience in agile projects and methodologies.</li>
  <li>Knowledge in Git and experience configuring a system of continuous integration (Jenkins, GoCd, Bamboo, GitLabCI, etc.)</li>
  <li>Ability to develop scripts in any programming language (Python or Ruby type)</li>
  <li>Knowledge of basic administration of databases (MySQL, MongoDB, PostgreSQL)</li>
  <li>Knowledge of container deployment architectures (Docker, Swarm, CoreOS, Kubernetes, Mesos)</li>
</ul>

<p><b>Nice to have:</b></p>
<ul class="square">  
  <li>Knowledge in tools for infrastructure automation creation (Terraform, Cloud Formation, Foreman etc.)</li>
  <li>Knowledge of tools for creating environments like Vagrant, docker-compose etc.</li>
  <li>Advanced networking knowledge</li>
  <li>Knowledge of Big Data processing architectures</li>
  <li>Knowledge of signed and packaged mobile applications (apk, ipa)</li>
</ul>

<p><b>Perks:</b></p>
<ul class="square">
  <li>The possibility to grow as a professional within our company</li>
  <li>Ongoing training - stay up to date with the latest technologies and methodologies</li>
  <li>Innovative environment - we have a start-up soul: passionate about new technologies, always seeking to improve, and getting adapted to changes and needs constantly</li>
  <li>Office in Callao area, one of the coolest in Madrid</li>
  <li>Team events such as football, surf, canyoning, paddle...</li>
  <li>Cinema together once a year</li>
  <li>Teleworking and flexible working hours so you can balance your professional and personal life</li>
  <li>Budget to attend conferences</li>
  <li>Beers in the office on Thursday evenings</li>
  <li>Flexible retribution (restaurant tickets, transportation..)</li>
  <li>Medical Insurance</li>
  <li>Possibility to temporarily travel to San Francisco. We cover additional travel expenses such as travel and accommodation</li>
</ul>

<p>Salary: € 30.000-45.000</p>

<p>Contact us at <a href="mailto:people@intelygenz.com">people@intelygenz.com</a>, <a href="mailto:talento.humano@intelygenz.com">talento.humano@intelygenz.com</a> or our <a href="https://www.intelygenz.com/join-us/" rel="noopner noreferrer" target="_blank">website</a></p>
<br/>
<div class="text-center">
  <iframe class="youtube-player" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Va-sPErV1xM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>