<h3>Frontend Engineer</h3>
<p>
Liferay, Inc. es un proveedor líder de productos de software de colaboración y de portal de código abierto para empresas, que atiende a compañías Fortune 500 en todo el mundo, incluyendo Allianz, Barclay, BASF, Cisco Systems, Lufthansa Flight Training, Société Générale, The French Ministry of Defense y United Nations.
</p>
<p>
Trabajar en Liferay es una oportunidad para participar en un proyecto ético, motivador, desafiante y en constante expansión dentro de un ambiente internacional que ofrece la posibilidad de desarrollar una carrera personal de acuerdo a sus capacidades y preferencias como parte del equipo de Liferay.
</p>
<p>
Si eres un Ingeniero de Software especializado en la parte de Front-End esta es tu oportunidad. ¡Sigue leyendo!
</p>
<p>
Esta posición es para un profesional que disfrute trabajando en un entorno multinacional y estando rodeado de equipos multidisciplinares, colaborando activamente con ingenieros, diseñadores y product managers de todo el mundo.
</p>
<p><b>En esta posición podrás:</b></p>
<ul class="square">
  <li>Diseñar e implementar frameworks, librerías y herramientas en JavaScript.</li>
  <li>Participar en el desarrollo de proyectos Open-Source existentes: <a href="http://www.sennajs.com/" rel="noopener noreferrer" target="_blank">Senna.js</a>, <a href="http://www.alloyeditor.com/" rel="noopener noreferrer" target="_blank">AlloyEditor</a>, <a href="http://www.metaljs.com/" rel="noopener noreferrer" target="_blank">Metal.js</a>.</li>
  <li>Trabajar con la última tecnología web y los nuevos stándares apropiados.</li>
  <li>Experimentar con los últimos frameworks (Angular, react, ember..) para definir la correcta integración, proponer mejoras, ...</li>
  <li>Ayudar a otros equipos de desarrollo de producto.</li>
  <li>Trabajar con nuestros equipo UX para guiar a los usuarios/tester y trabajar en que solución es la mejor para los clientes.</li>
  <li>Tendrás la oportunidad de atender conferencias de todo el mundo y compartir experiencias con la Comunidad.</li>
</ul>
<p><b>Requisitos:</b></p>
<ul class="square">
  <li>Habilidades excepcionales en JavaScript. Sólido conocimiento de las bases del lenguaje y de nuevos stándares.</li>
  <li>Pasión por tecnologías Front-End.</li>
  <li>Conocimiento actualizado sobre las últimas tendencias y marcos en el desarrollo web: Angular, React, ES2016, Web Components, Aplicaciones web progresivas, ...</li>
  <li>Gran conocimiento sobre el ecosistema del frontend y herramientas: Babel, Browserify, Webpack, Rollup, npm, jspm, PostCSS, Grunt, Gulp, ...</li>
  <li>Gran conocimiento sobre HTML y CSS.</li>
  <li>Conocimiento general en rendimiento, accesibilidad y seguridad para la web.</li>
  <li>Buenas habilidades de comunicación verbal y escrita en español e inglés.</li>
  <li>BS / MS en Ciencias de la Computación o experiencia equivalente.</li>
</ul>
<p><b>Qué ofrecemos:</b></p>
<ul class="square">
  <li>Contratación indefinida.</li>
  <li>Salario acorde a la experiencia y conocimiento técnico aportado.</li>
  <li>Y nuestra cultura!! Horario flexible de entrada y salida, opción a teletrabajo, Snacks, fruta y bebidas, etc...</li>
  <li>Clases de inglés en horario laboral</li>
  <li>Beneficios Sociales a elegir (Seguro médico familiar o abono transporte, tickets restaurant, ...).</li>
  <li>Día de cumpleaños de libre disposición.</li>
  <li>Excelente clima laboral.</li>
  <li>Instalaciones modernas y funcionales.</li>
</ul>
<p>Si te interesa, aplica en <a href="https://www.liferay.com/es/careers?p=job%2FoSWO7fwt" rel="noopener noreferrer" target="_blank">nuestra web</a> o ponte en contacto con nosotros en <a href="mailto:careers-es@liferay.com">careers-es@liferay.com</a></p>