<h3>Senior Java Developer – Desarrollo de Producto</h3>
<p>
  En Magnolia ayudamos a nuestros clientes a gestionar de manera exitosa su estrategia digital. Nuestra esencia Open
  Source, Flexibilidad, Escalablidad y Movilidad, son adjetivos que describen muy bien las características del producto.
  La interfaz de usuario de Magnolia, que está inspirada en la de los dispositivos móviles, así como nuestro framework de
  aplicaciones, han revolucionado el mundo de la gestión de contenidos. Únete a nuestra equipo para ayudarnos a
  reforzar el posicionamiento de Magnolia como el CMS Open Source Empresarial con mejor usabilidad del planeta.
</p>
<p>
  Estamos buscando un desarrollador Java que le apasione resolver problemas complejos, trabajando como parte de un
  equipo en filosofía agile. Trabajarás con el equipo de desarrollo core del producto, junto con otros excelentes
  programadores, colaborando en darle forma a lo que debe ser el futuro de Magnolia. Trabajarás de manera muy
  cercana con desarrolladores que cuentan con mucha experiencia en Java, así como con nuestros jefes de producto y
  equipos de experiencia de usuario.
</p>
<p>
  Si consideras que estás listo para aportar valor y contribuir de manera positiva a Magnolia, y si además eres una
  persona que busca siempre ofrecer diferentes alternativas, entonces encajarás perfectamente con nosotros.
</p>
<p><b>¿Cuáles serán tus responsabilidades?</b></p>
<ul class="square">
  <li>Desarrollar nuevas funcionalidades de Magnolia y asegurarte de que cumplen con nuestros estándares de calidad.</li>
  <li>Realizar mejoras a las funcionalidades core de gestión de contenidos: interfaz de usuario, sistema de plantillas, gestión de recursos e integración con tecnologías front-end.</li>
  <li>Asumir el liderazgo técnico de nuevas iniciativas, así como definir conceptos y arquitectura sobre grandes cambios que se deban hacer.</li>
  <li>Facilitar la colaboración con otros desarrolladores, jefes de producto y diseñadores para resolver problemas interesantes y retadores.</li>
  <li>Aprender a utilizar y mejorar la gestión de dependencias, control de versiones, herramientas de seguimiento de desarrollo y los frameworks de pruebas que utilizamos.</li>
  <li>Ayudar a transmitir nuevas ideas, tendencias y buenas prácticas del mundo del desarrollo del software, como TDD, Clean Code, Scrum, DevOps</li>
  <li>Ser innovador y disfrutar siendo un mentor a nivel técnico.</li>
</ul>
<p><b>¿Qué buscamos?</b></p>
<ul class="square">
  <li>Ingeniero informático o equivalente.</li>
  <li>Una persona con entusiasmo, inteligente, curiosa y con grandes conocimientos.</li>
  <li>Entre 5 y 7 años de experiencia en desarrollo con Java.</li>
  <li>Sólidos conocimientos en tecnologías web basadas en Java. Experiencia en definición de diseños y arquitecturas de sistemas de mediana y gran escala.</li>
  <li>Experiencia con gestión de dependencias, control de versiones, herramientas de seguimiento de desarrollo y frameworks de pruebas (por ejemplo Maven, Git, Jira, JUnit/Selenium).</li>
  <li>Experiencia en el desarrollo de interfaces de usuario, utilizando lenguajes como CSS, HTML/HTML5, JavaScript o JSON, Angular/React Js.</li>
  <li>Haber trabajado en equipos con filosofía de desarrollo agile.</li>
  <li>Debe ser una persona independiente, responsable, motivada, con la capacidad de aprender fácilmente y de lograr resultados mejores de lo esperado.</li>
  <li>Experiencia con Vaadin/GWT sería deseable.</li>
  <li>Manejo fluido del inglés es obligatorio, y poder hablar en otros idiomas sería una gran ventaja adicional.</li>
</ul>
<p><b>¿Cómo trabajamos?</b></p>
<p>
  Magnolia es un <a href="https://www.youtube.com/watch?v=VbY1b1ke08A&feature=youtu.be" rel="noopener noreferrer" target="_blank">excelente lugar para trabajar</a>. Los fundadores han establecido un ambiente de trabajo saludable,
  diverso y multicultural, basado en la amigabilidad, el respeto y en un equilibrio responsable entre el trabajo y el tiempo
  personal. Participamos en la comunidad de desarrolladores de Magnolia contribuyendo en los foros, blogs, asistiendo a
  diferentes conferencias técnicas en España y organizando competiciones de programación (<a href="https://www.flickr.com/photos/magnolia-cms/sets/72157692185888480/" rel="noopener noreferrer" target="_blank">Retos Digitales</a>), entre
  otras muchas <a href="https://www.flickr.com/photos/magnolia-cms/" rel="noopener noreferrer" target="_blank">actividades</a>. Además contamos con nuestra <a href="https://www.youtube.com/watch?v=j-8-sh8O5Mc&feature=youtu.be" rel="noopener noreferrer" target="_blank">unconference</a> global en Basilea, enfocada en los
  desarrolladores. Nos encanta y nos apasiona todo lo que creamos, el diseño y la atención al detalle nos importan
  mucho, ya sea en la parte de experiencia de usuario o en el código backend.
</p>
<p>
  Si esto te suena interesante, por favor envíanos tu CV a esta dirección: <a href="mailto:seleccion@magnolia-cms.com">seleccion@magnolia-cms.com</a>
</p>