<h3>Perfiles JAVA</h3>
<p>Si te gusta aprender e innovar ¡Te estamos buscando!</p>
<p>
Tú nos importas, y por eso, en Softtek estamos comprometidos con el desarrollo profesional,
los derechos humanos, los hábitos de vida saludables, la integración, el equilibrio entre el
trabajo, la vida personal y la calidad de vida.
</p>
<p>
Forma parte de un ambiente único e inigualable. ¡Vive el Softtek Life! 
</p>
<p>¿A qué estás esperando?</p>
<p><b>¿Quieres saber quiénes somos?</b></p>
<p>
Con una cifra de 13.000 empleados y presencia en 16 países, somos la empresa privada de
servicios TI con mejor cobertura regional en América Latina, el proveedor líder de servicios de
TI para Norte América mediante el modelo Near Shore® y una empresa consolidada en Europa.
Somos creadores del concepto Near Shore.
</p>
<p>
En España, estamos presentes en A Coruña, Madrid, Zaragoza y Barcelona. También contamos
con presencia europea en Francia, Reino Unido y Hungría.
</p>
<p>
Somos un proveedor global de soluciones y servicios de tecnología, que ayuda a los clientes a
prosperar en la era digital. Softtek ayuda a los clientes a mejorar el tiempo de entrega de
soluciones de negocio a sus clientes, eliminando la complejidad de la plataforma de TI
existente, ofreciendo un mejor diseño y prueba de soluciones, y produciendo resultados
predecibles para las corporaciones de primer nivel.
</p>
<p><b>¿En qué proyectos estamos involucrados?</b></p>
<p>
Actualmente tenemos varias posiciones en JAVA para A Coruña, Madrid y Zaragoza, para
proyectos nacionales como internacionales, donde buscamos el siguiente perfil:
</p>
<ul class="square">
  <li>Conocimientos del lenguaje de programación JAVA.</li>
  <li>Experiencia en aplicaciones web.</li>
  <li>Experiencia en el uso de interfaces API REST.</li>
  <li>Dominio de BBDD (SQL, DB2, Mongo, etc.)</li>
  <li>Capacidad de análisis técnico/funcional de problemas.</li>
</ul>
<p>Valorable:</p>
<ul class="square">
  <li>Groovy</li>
  <li>Graylog</li>
  <li>Couchbase</li>
  <li>Node</li>
  <li>React</li>
</ul>
<p><b>¿Qué te aportamos como empresa?</b></p>
<ul class="square">
  <li>Posibilidad de poder trabajar en un ambiente joven y dinámico.</li>
  <li>Estabilidad laboral.</li>
  <li>Trabajar en empresas líderes en el mercado.</li>
  <li>Participación en proyectos innovadores.</li>
  <li>Jornada de verano.</li>
  <li>Amplio paquete de retribución flexible.</li>
  <li>Buen entorno de trabajo.</li>
  <li>Realización de actividades y quedadas grupales.</li>
  <li>Descuentos con distintas empresas de servicios.</li>
  <li>Formación continua y clases de idiomas.</li>
</ul>
<p>
  ¿Quieres conocer más sobre nosotros? <br>
  <a href="http://www.softtek.com/es/" target="_blank" rel="noopener noreferrer">http://www.softtek.com/es/</a> <br>
  <a href="https://www.youtube.com/watch?v=6H35Z4Aqw9E" target="_blank" rel="noopener noreferrer">https://www.youtube.com/watch?v=6H35Z4Aqw9E</a>
</p>
<p>
  Échale un vistazo a este video, te aseguramos que te sorprenderás:
  <a href="https://vimeo.com/274131320" target="_blank" rel="noopener noreferrer">https://vimeo.com/274131320</a>
</p>
<p>
  Envía tu CV personal a <a href="mailto:talentattractionemea@softtek.com">talentattractionemea@softtek.com</a>
</p>