<h3>
  Front End Developers
</h3>
<p>
  En Sopra Steria, tratamos de hacer un desarrollo de software lo más limpio y eficaz posible, basándonos en unos paradigmas de programación basados en buenas prácticas y los mejores patrones de diseño para cada desarrollo, poniendo especial atención en asegurar la calidad del código.
</p>
<p>¿Quieres ayudarnos a salvar al código de las malas prácticas?</p>
<p>Buscamos Front End Developers para unirse a nuestra comunidad digital.</p>
<p><b>let Skills = [</b></p>
<p>
  "HTML 5 y CSS 3 (Flex / Grid) para la maquetación.",<br>
  "Apostamos fuerte por el desarrollo de componentes web, por lo que valoramos el
  conocimiento profundo del actual panorama de JavaScript (ES6 en adelante), y estar
  familiarizados con los diferentes frameworks o librerías MVC (Polymer, React, Vue…).",<br>
  "Experiencia en desarrollos web / mobile.",<br>
  "Conocimiento de los diferentes patrones de diseño de software.",<br>
  "Conocimiento y Experiencia en SPA (Single Page Application).",<br>
  "Afinidad y experiencia con las metodologías ágiles, así como conocer y haber tocado
  diferentes herramientas Devops.",<br>
  "Además, ponemos mucho énfasis en el testing unitario en el Front, por lo que valoramos
  la experiencia en definición y ejecución de pruebas con: Mockito, PowerMock, Selenium,
  Cucumber o Appium."
</p>
<p><b>];</b></p>
<p><b>¿Qué podemos ofrecerte?</b></p>
<ul class="square">

  <li>Continuo aprendizaje y desarrollo como Front End Developer, a través de la
  combinación de los diferentes enfoques y "expertise" de nuestra comunidad de
  FrontEnders, combinando su experiencia en muchísimos proyectos, de diversos sectores y
  naturaleza.</li>
  <li>Proyectos innovadores que apuestan por tecnologías punteras. Los futuros éxitos serán
  el resultado de las innovaciones de hoy. Es la razón por la que no sentimos fuertes
  creando entornos donde las ideas innovadoras son apreciadas y recompensadas.</li>
  <li>Aprende de tus compañeros y participa en nuestros programas de formación continua.
  Nuestra Sopra Steria Academy ofrece un recorrido formativo a medida para ayudarte a
  sentirte parte del Grupo desde el primer día.</li>
  <li>Cercanía. Fuerte enfoque hacia las personas., aquí no somos un número más. Tu
  opinión sobre el Software y el desarrollo siempre será escuchada y valorada.</li>
  <li>Disfruta de un contrato indefinido y salarios competitivos.</li>
  <li>Benefíciate de nuestras ventajas sociales: seguro de vida y tickets restaurante.</li>
  <li>Posibilidad de concertar mutua de salud a un precio excepcional.</li>
  <li>Plan de retribución flexible (transporte, formación, tickets guardería).</li>
  <li>Club del empleado con exclusivos descuentos y ventajas.</li>
  <li>Ambiente de trabajo inmejorable.</li>
  <li>A través del programa &quot;Sopra Steria Te Cuida&quot; nos preocupamos del bienestar de las
  personas que forman parte de nuestros equipos, mediante acciones ligadas a ser una
  empresa saludable.</li>
</ul>
<p>
  Descubre lo que hacemos para crear el mejor ambiente posible cuando te unes a un líder
  europeo de la transformación digital. Atrévete a trabajar de una forma distinta, mándanos
  tu CV a <a href="mailto:seleccion@soprasteria.com">seleccion@soprasteria.com</a>.
</p>