<h3>Frontend Developer</h3>
<p>The Cocktail es una consultora digital cuya misión es orquestar y acelerar el crecimiento de nuestros clientes. Lo conseguimos porque hay una cosa que sabemos hacer muy bien: movilizar organizaciones para impulsar la relación entre las marcas y clientes mediante el diseño de productos y servicios, los datos y la tecnología digital.</p>
<p>Somos un equipo multidisciplinar que trabajamos desde el entendimiento  de los patrones de uso y consumo de los clientes, hasta la conceptualización y puesta en producción de las soluciones diseñadas.</p>
<p><b>¿Qué buscamos?</b></p>
<p>Buscamos un/a desarrollador/a que participe como Front developer en proyectos challenger de The Cocktail en nuestra oficina de Madrid.</p>
<p><b>¿Qué esperamos?</b></p>

<p>Indispensable...</p>
<ul class="square">
  <li>Experiencia en desarrollo cross-browser de aplicaciones responsive.</li>
  <li>Experiencia en <b>JavaScript nativo</b> o desarrollando con frameworks tipo Vue, React, Angular...</li>
  <li>Que tengas <b>dominio de HTML5 y CSS3</b>, y conocimientos de Sass.</li>
  <li>Que trabajes con task runners como <b>Gulp o Grunt</b>.</li>
  <li><b>Control de versiones</b> distribuidos (Git / GitHub).</li>
</ul>

<p>Deseable experiencia en…</p>
<ul class="square">
  <li>Algún <b>lenguaje de servidor</b> (PHP, Ruby on Rails...).</li>
  <li>Estar familiarizado con el proceso de calidad de un proyecto.</li>
  <li>Lograr resultados en un <b>entorno de ritmo acelerado</b> y en constante cambio.</li>
</ul>

<p><b>¿Qué ofrecemos?</b></p>
<ul class="square">
  <li>Proyectos challengers de grandes clientes.</li>
  <li>Formar parte de un ecosistema de especialistas amplio y diverso (estrategia, producto digital, tecnología, data…) con el que interactuarás continuamente.</li>
  <li>Aprendizaje constante, nunca te irás a casa sin haber aprendido algo nuevo.</li>
  <li>Posibilidad de certificaciones en Cloud y asistencia a conferencias sobre las tecnologías que usamos como Full Stack Fest, Elixir Conf y Conferencia Rails Madrid entre otras.</li>
  <li>Nos apoyamos en tecnologías abiertas para dar solución a los problemas, y lo compartimos con la comunidad. Aquí tienes nuestro repositorio y nuestro blog.</li>
  <li>Un modelo de trabajo basado en la responsabilidad y la autogestión, con horario flexible.</li>
  <li>Fruta para cuando te entren ganas de picotear.</li>
  <li>Venir cómodo/a a trabajar. No tenemos dress code.</li>
  <li>Seguro médico gratuito.</li>
</ul>
<p>El propósito de The Cocktail es ser un referente en talento y calidad humana. Solo lo conseguiremos si somos una compañía abierta y diversa, y ofrecemos unentorno acogedor para todas las personas, independientemente de su identidad o expresión de género, orientación sexual, capacidad, origen, religión, estatus socioeconómico…</p>
<p>Si crees que encajas con lo que pedimos y estás en consonancia con nuestros valores, ¿a qué esperas para apuntarte? Inscríbete <a href="https://the-cocktail.com/ofertas/frontend-developer-madrid" target="_blank" rel="noopener noreferrer">aquí</a></p>