<h3>.NET and Azure Senior Developers</h3>
<p>En TOKIOTA estamos incorporando <b>.NET and Azure Senior Developers</b>, para nuestra sede de <b>Madrid</b>, cuya principal responsabilidad será la definición y desarrollo de software.</p>
<p>Buscamos developers que apliquen en su día a día principios de arquitectura de SW, integración continua, patrones de diseño, principios SOLID y buenas prácticas de desarrollo en general, a la vez que se asegura la calidad de las entregas.</p>
<p>Las posiciones son para trabajar en proyectos de grandes dimensiones y con una complejidad tecnológica alta.</p>
<p><b>Formación y Experiencia:</b></p>
<ul class="square">
  <li>Grado de Ingeniería Informática.</li>
  <li>Mínimo 4 años de experiencia previa como desarrollador de software con tecnologías Microsoft, en entornos grandes y tecnológicamente complejos.</li>
</ul>
<p><b>SKills Técnicos Requeridos:</b></p>
<ul class="square">
  <li>Experiencia en análisis técnico y desarrollo con últimas versiones del Framework .NET: ASP.NET MVC, ASP.NET Web API, .NET Core, ASP.NET Core, etc.</li>
  <li>Experiencia en plataformas Cloud, principalmente Azure.</li>
  <li>Experiencia en DDD, TDD, DI (Ioc), principios SOLID, RESTfull.</li>
  <li>Experiencia en desarrollo con JavaScript y TypeScript, con diferentes frameworks: Angular, React, Vue, Node, Webpack, Yarn, etc.</li>
  <li>Experiencia con BBDD: SQL Server y NoSQL.</li>
  <li>Experiencia con Entity Framework u otros ORMs.</li>
  <li>Experiencia en trabajo con SCRUM en equipos Agile.</li>
  <li>Uso de VSTS y Git.</li>
</ul>
<p><b>Otros skills técnicos deseados:</b></p>
<ul class="square">
  <li>Experiencia en arquitecturas basada en Microservicios con Docker.</li>
  <li>Experiencia en integración con Dynamics CRM.</li>
  <li>Experiencia con Reporting Services o Power BI.</li>
  <li>Experiencia en desarrollo mobile (iOS, Android o Xamarin).</li>
  <li>Experiencia en consultoría e implantación de ALM y DevOps.</li>
  <li>Automatización de testing.</li>
</ul>
<p><b>Habilidades Imprescindibles:</b></p>
<ul class="square">
  <li>Sentir pasión por las tecnologías Microsoft, principalmente tecnologías de desarrollo de Software y Cloud.</li>
  <li>Implicación, compromiso y gran sentido de la responsabilidad.</li>
  <li>Gran capacidad de aprendizaje.</li>
  <li>Capacidad de trabajo en equipo, en modo colaborativo, y con actitud positiva.</li>
  <li>Capacidad de organización, pudiendo llevar múltiples tareas en marcha, de diferentes contextos, de forma eficiente y con respuesta ágil a cada una de ellas.</li>
  <li>Iniciativa, proactividad y disciplina.</li>
  <li>Empatía, don de gentes, generación de confianza y positividad, con todas las personas con las que se relaciona: otros consultores, clientes y partners.</li>
  <li>Alta capacidad de comunicación, influencia 360, sabiendo adaptar el mensaje al perfil y nivel del interlocutor.</li>
  <li>Visión de negocio, del mercado y de la competencia.</li>
  <li>Gran flexibilidad y capacidad de adaptación a cambios.</li>
  <li>Moverse eficazmente en entornos de rápido crecimiento y multifuncionales.</li>
  <li>Flexibilidad y Capacidad para trabajar en modalidad de mejora continua.</li>
</ul>
<p>Los interesados pueden hacer llegar su CV a <a href="mailto:seleccion@tokiota.com">seleccion@tokiota.com</a></p>