<h3>Senior Software Engineer</h3>
<p><b>About us</b></p>
<p>We are TravelPerk: a fast-growing, well-funded startup that, since its creation in early 2015, has raised over $30M by world-class investors in some of the most disruptive companies in tech industry including Slack, Trello, Twitter, Farfetch, Deliveroo and Delivery Hero. Our team is made up of A-players from the top companies in the online travel industry - Booking.com and Skyscanner among others. Our mission is to revolutionize the B2B corporate travel market where over $1.25 trillion is spent each year. We were named as the fastest growing SaaS startup in Europe (#4 in the world) by SaaS1000 and featured as one of the hottest startups to watch by both Forbes and Wired.</p>
<p><b>Requirements</b></p>
<ul class="square">
  <li>"Product Engineering" mindset.</li>
  <li>Extensive experience in similar roles building technically complex products <b>in any web programming language</b>. Successful candidates usually have 5 years of experience or more.</li>
  <li>An expert level at <b>server-side</b>, <b>client-side</b> or <b>full stack development</b>. Your final role within the team will depend on your skills.</li>
  <li>Experience writing highly efficient <b>asynchronous code</b>.</li>
  <li>Obsession for <b>quality</b> and <b>testing</b>.</li>
  <li>Eager to <b>learn new technologies</b> and frameworks.</li>
  <li>Strong <b>communication skills</b> (in English).</li>
</ul>
<p><b>What do we offer?</b></p>
<ul class="square">
  <li>Competitive compensation including equity in the company.</li>
  <li>24 vacation days per year and flexible working hours.</li>
  <li>Health perks: Choose between a private health scheme or a gym allowance.</li>
  <li>"Flexible compensation plan" to help you diversify and increase the net salary.</li>
  <li>Free Spanish classes.</li>
  <li>Yoga and meditation.</li>
  <li>Possibility to choose your hardware and tools.</li>
  <li>Free coffee and beverages, fresh fruit and other breakfast stuff.</li>
</ul>
<p>Salary: € 42000-55000</p>
<p>Contact us at <a href="mailto:recruitment@travelperk.com">recruitment@travelperk.com</a> or <a href="https://grnh.se/2d2e184e1" target="_blank" rel="noopener noreferrer">here</a>.</p>