<h3>SW Lead Back End</h3>
<p><b>About us</b></p>
<p>Zara.com is present in over 49 markets and receives million of daily visits. Can you imagine the challenges this entails? We need proactive people to help our team continue reinventing themselves and learning, moving forward to achieve new goals.</p>
<p>We are looking for software engineers to lead the Back-End development of our online store, within a microservice environment, what does this mean?</p>
<ul class="square">
  <li>You will lead an agile team of developers specialized in one of the modules that make up the back end of our application. You will define your team's work patterns.</li>
  <li>You will be the technical manager of the development.</li>
  <li>
    You will be responsible for reviewing the development tasks pursuing the following objectives:
    <ol>
      <li>Review of the proposed technical solution</li>
      <li>Efficient task distribution among the team.</li>
      <li>Execution of part of the development</li>
      <li>Handle possible technical blocks and help solve them hand in hand with the support areas within the project (Technical architecture, DevOps, Security, Monitoring, Agile Coach, Performance, QA...)</li>
      <li>Participate in making technical decisions regarding the project.</li>
      <li>Watching for the future and the scalability of the microservices under your charge.</li>
    </ol>
  </li>
</ul>
<p><b>Requirements:</b></p>
<p>How do we imagine you?</p>
<ul class="square">
  <li>You have deep knowledge of Java and API core (Collections, concurrency, generics...)</li>
  <li>You master the development of applications with complex business logic.</li>
  <li>You have experience in the development of unit and integration tests (JUnit, Mockito, Spock...)</li>
  <li>You have knowledge of Spring Boot, GRPC, Netflix OSS</li>
  <li>You master PaaS environments (OpenShift, Cloud Foundry...)</li>
  <li>You have experience in the design and development of API REST interfaces.</li>
  <li>You have made developments under a microservice architecture.</li>
  <li>Quality and code cleanliness are key for you and you ensure them. You also have experience working with Sonar or similar tools.</li>
  <li>You have developed under the continuous integration model.</li>
  <li>You have experience with relational/non-relational DB (DB2, Mongo, Couchbase, Redis, etc.)</li>
  <li>Attitude and autonomy. We like people with a high level of commitment and passion to the work they do.</li>
</ul>
<p>Bonus, what we value positively:</p>
<ul class="square">
  <li>Knowledge in other programming languages (Groovy, Scala, Python, Go...)</li>
  <li>Knowledge in DDD.</li>
  <li>Experience in high availability systems.</li>
  <li>Development experience under agile methodologies and teams (4-10 people)</li>
</ul>
<p>If you think you are a match, we are looking forward to <a href="https://techteams.es/#job-123073" target="_blank" rel="noopener noreferrer">meet you!</a></p>