<h3>JS Backend Professional</h3>
<p>¡Hola! Me llamo Antonio, soy parte del equipo de desarrollo de Zooplus en España desde 2016. Mi equipo está buscando un compañero para una vacante que tenemos de JavaScript en backend. Te puedo contar unas cosillas que hacen que trabajar aquí resulte mucho más agradable y puede ser que te interesen para unirte a nosotros:</p>
<ul class="square">
  <li>¡En el equipo somos actualmente 4 personas y contigo seremos 5!</li>
  <li>Trabajamos en un marco de trabajo Scrum en un entorno ágil, ya no sólo dentro del equipo sino en toda la compañía, también los managers.</li>
  <li>Somos una compañía orientada a producto en la que nos centramos en tener productos de <b>gran calidad siempre por encima de fechas de entrega</b>.</li>
  <li>Aquí hay un <b>ambiente distendido</b> y no hace falta <b>ningún código de vestimenta</b> (recientes análisis han determinado que se programa igual o mejor con camiseta que con corbata).</li>
  <li>Creemos en el <b>pair programming</b> para mejorar, aprender unos de otros y tener código de más calidad.</li>
  <li>Tenemos una mentalidad de <b>Devops</b>, así que somos owners del producto desde el desarrollo hasta el mantenimiento ("you build it, you run it").</li>
  <li>El idioma oficial de la compañía es el <b>inglés</b>, para comunicarnos con los compañeros extranjeros en Madrid, y con otros centros de desarrollo en Cracovia y Múnich.</li>
</ul>
<p>Aquí te muestro <b>algunos de los beneficios</b> que tendrás cuando seas parte de Zooplus:</p>
<ul class="square">
  <li>28 días de vacaciones y además el 24 y el 31 de diciembre (yuhuu).</li>
  <li>Tenemos un presupuesto para cursos y conferencias, también los viajes están incluidos.</li>
  <li>Seguro médico.</li>
  <li>Teléfono móvil para uso personal.</li>
  <li>Horario flexible.</li>
  <li>Clases de inglés/español.</li>
  <li>La oficina está en el centro de Madrid.</li>
  <li>Fruta fresca, refrescos y café gratis.</li>
  <li>Descuentos en Zooplus y tiendas de alrededor.</li>
</ul>
<p><b>
  Nuestro stack tecnologico:
</b></p>
<ul class="square">
  <li>NodeJS</li>
  <li>Amazon Web Services (Lambda, Cloudfront, etc)</li>
  <li>Cloud deployments (terraform, cli, serverless...)</li>
  <li>CI/CD with Jenkins pipeline</li>
  <li>Handlebars</li>
  <li>SCSS</li>
  <li>Gulp</li>
  <li>Contentful CMS</li>
  <li>Grafana</li>
  <li>Git</li>
  <li>Scrum, Pair Programming, Peer Reviewing</li>
</ul>
<p><b>
  Lo que buscamos:
</b></p>
<ul class="square">
  <li><b>Sólidos</b> conocimientos en backend <b>Javascript</b>.</li>
</ul>
<p><b>
  Por si no tienes información sobre nosotros:
</b></p>
<p>
  Zooplus AG fue fundada en Múnich en 1999 y hoy en día es el líder de ventas online en toda Europa de comida y artículos para mascotas. Con un crecimiento anual de doble dígito, hemos lanzado nuestra distribución y modelo de negocio a 30 países europeos y esperamos que el crecimiento sea sostenido en el e-commerce europeo.
</p>
<p>
  No es la única oferta que tenemos abierta, ya que estamos en constante crecimiento en nuestra oficina de España, por lo que si te interesa un cambio profesional ¡entra en <a href="https://jobs.zooplus.es/#/" rel="noopener noreferrer" target="_blank">nuestro website</a> y busca la más adecuada para tu perfil!
</p>