.home-hero-img-container {
  position: relative;
  display: flex;
  height: 73vw;
  max-height: 890px;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: reveal-hero;
}

.hero-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  flex-grow: 1;
  transition: flex-grow .5s .5s ease-out;
}

.spain-outline {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.home-hero-text {
  padding: 40px 0;
  background: rgba($white,.5);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  h1, h2, h3 {
    color: $home-color;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4)
  }

}

@keyframes reveal-hero {
  from {
    clip-path: circle(0% at 10% 50%);
  }

  to {
    clip-path: circle(110% at 10% 50%);
  }
}