$home-color: $black;
$home-size: 500px;
$svg-separator-size: 2rem;

.home-separator {
  width: 100%;
  height: $svg-separator-size;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.aside {
  display: none;
}

.stats {
  padding: 1rem 0 0;
  background: $orange;
  position: relative;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number-and-text {
  margin: 0 1rem;
  flex-grow: 1;
  text-align: center;
  .text {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0,0,0,.5);
  }
}

.number {
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 0;
}


.c4p {
  background: $green;
  color: $white;
  position: relative;
  padding: 1rem 0;
  .speaker {
    width: 100px;
    margin-right: 2rem;
  }
  .home-separator {
    fill: $green;
    bottom: -$svg-separator-size;
  }
}

.c4p-title {
  color: $white;
}

.c4p-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c4p-action {
  background: $purple-dark;
  color: $white;
  border: darken($purple-dark, 10%);
  &:hover, &:focus, &:active {
    background: darken($purple-dark, 5%);
    color: $white;
  }
}