$home-color: $black;
$home-size: 500px;
$svg-separator-size: 2rem;

.home-separator {
  width: 100%;
  height: $svg-separator-size;
}

.home-highlight {
  background: $blue;
  color: #fff;

  & h1 {
    color: $blue-dark;
  }

  & .button.primary {
    background: $pink;
    border-color: darken($pink, 10%);
    &:focus, &:hover, &:active {
      background-color: darken($pink, 5%);
    } 
    
  }

}

.home-actions {
  margin-top: 2rem;
}

.aside {
  display: none;
}

.stats {
  padding: 1.8rem 0;
  background: $blue-dark;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number-and-text {
  margin: 0 1rem;
  flex-grow: 1;
  text-align: center;
  .text {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,.5);
    text-shadow: 1px 1px 1px #000;
  }
}

.communities {
  padding-top: 1rem 0;
}

.number {
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1.1;
}


.c4p {
  background: $green;
  color: $white;
  position: relative;
  padding: 1rem 0;
  .speaker {
    width: 100px;
    margin-right: 2rem;
  }
  .home-separator {
    fill: $green;
    bottom: -$svg-separator-size;
  }
}

.c4p-title {
  color: $white;
}

.c4p-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c4p-action {
  background: $purple-dark;
  color: $white;
  border: darken($purple-dark, 10%);
  &:hover, &:focus, &:active {
    background: darken($purple-dark, 5%);
    color: $white;
  }
}