$map-center: '40.399567,-3.839917';
$map-marker: '/img/map-marker.svg';
$venue-geo: '40.399567,-3.837917';
$key: 'AIzaSyBBqBM0a6puvXBrsMg6r2lnrOxF6NgszMQ';
.map {
  background-position: 50% 50%;
  height: 500px;
  border: 1px solid $gray-light;
  border-top-width: 0;
  background-image: url('https://maps.googleapis.com/maps/api/staticmap?zoom=14&center=#{$map-center}&size=1000x700&scale=2&language=en&markers=icon:#{$map-marker}|#{$venue-geo}&maptype=roadmap&style=visibility:on|lightness:40|gamma:1.1|weight:0.9&style=element:labels|visibility:off&style=feature:water|hue:0x0066ff&style=feature:road|visibility:on&style=feature:road|element:labels|saturation:-30&key=#{$key}')
}

.transport-details {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.transport-separator {
  margin: 0 0.5rem;
}

.metro, .bus {
  margin-right: 1rem;
  fill: $black;
  width: 2rem;
  height: 2rem;
}
.metro {
  &:hover, &:focus, &:active {
    fill: $blue;
  }
}
.bus {
  &:hover, &:focus, &:active {
    fill: $orange;
  }
}

.map-advice {
  background: $red;
  padding: 1rem;
  color: $white;
}

.location-description {
  border: 1px solid $gray-light;
  padding: 1rem;
  text-align: center;
}

.ceu-logo {
  max-width: 100%;
  width: 200px;
}