
<section class="content main-and-aside c4p">
  <img src="/img/c4p.jpg" alt="Submit your talk to the Call for Papers" class="c4p-img">
  <div class="main">
    <h1>{{ i18n "TheAgenda" }} </h1>
    <p>{{ i18n "AgendaIsPublishedDesc" }}</p>
    <p>{{ i18n "AgendaDesc" }}</p>
    <p>
      <a class="button primary" href="https://www.koliseo.com/events/commit-2018/r4p/5630471824211968/agenda">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="1em" height="1em" viewBox="0 0 48 48" class="icon icon-agenda"><path d="M20 36h10V24H20v12zM8 36h10V10H8v26zm24 0h10V24H32v12zM20 10v12h22V10H20z"/></svg>
        {{ i18n "GoToTheAgenda" }}
      </a>
    </p>
  </div>
</section>