<div class="content">
  <div class="hero-container">
    <div class="hero-img-container">
      <div class="hero-filler"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-img" style="background-image: url('/img/speakers/small/0/0.jpg')"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-img" style="background-image: url('/img/speakers/small/1/0.jpg')"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-img" style="background-image: url('/img/speakers/small/2/0.jpg')"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-filler"></div>
    </div>
    <img class="spain-outline" src="/img/spain-outline.svg" alt="Commit conference, 23-24 November">
  </div>
</div>
<script async src="/js/home.js" />
</script>

  <div class="home-highlight">
    <svg class="home-separator" viewBox="0 0 500 500" preserveAspectRatio="none" aria-hidden="true">
      <polygon points="0,500 0,0 500,0" fill="#fff"></polygon>
    </svg>

    <section class="content">

      <h1>{{ i18n "TheEvent" }}</h1>
      {{ i18n "EventDesc" | safeHTML }}
      <p class="actions">
        <a class="button primary" href="https://www.koliseo.com/events/commit-2018/r4p/5630471824211968" target="_blank">
          {{ i18n "SubmitYourTalk" }}
          <span class="button-small">{{ i18n "CallForPapersIsOpen" }}</span>
        </a>
        <a class="button" target="_blank" disabled>
          {{ i18n "Tickets" }}
          <span class="button-small">{{ i18n "TicketsAvailableSoon" }}</span>
        </a>
      </p> 
    </section>
  </div>

  {{ partial "stats.html" . }}

  {{ partial "r4p.html" . }}

  {{ partial "location.html" . }}

  <hr>

  {{ partial "communities.html" . }}
<!--
  {{ partial "mail-list.html" . }}
-->

