<div class="content">
  <div class="home-hero-img-container">
    <div class="hero-img filler"></div>
    <div class="hero-img" style="background-image: url('/img/speakers/men/2.jpg')"></div>
    <div class="hero-img" style="background-image: url('/img/speakers/women/2.jpg')"></div>
    <div class="hero-img" style="background-image: url('/img/speakers/men/3.jpg')"></div>
    <div class="hero-img filler"></div>
    <!--
    <div class="hero-img" style="background-image: url('/img/speakers/women/1.jpg')"></div>
      <div class="hero-img" style="background-image: url('/img/speakers/women/3.jpg')"></div>
    -->
    <img class="spain-outline" src="/img/spain-outline.svg" alt="Commit conference, 23-24 November">
  </div>
</div>

  <!--
  <svg class="home-separator" viewBox="0 0 500 500" preserveAspectRatio="none" aria-hidden="true">
    <polygon points="0,500 0,0 500,500" fill="#fff"></polygon>
  </svg>
-->
