<div class="content">
  <div class="hero-container">
    <div class="hero-img-container">
      <div class="hero-filler"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-img" style="background-image: url('/img/speakers/small/0/0.jpg')"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-img" style="background-image: url('/img/speakers/small/1/0.jpg')"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-img" style="background-image: url('/img/speakers/small/2/0.jpg')"></div>
    </div>
    <div class="hero-img-container">
      <div class="hero-filler"></div>
    </div>
    <img class="spain-outline" src="/img/spain-outline.svg" alt="Commit conference, 23-24 November">
  </div>
</div>
<script async>
var heroCounter = 1;
var timer = null;
function replaceSpeaker() {
  const containers = document.getElementsByClassName('hero-img-container');
  [ containers[1], containers[2], containers[3] ].forEach(function(container, index) {
    if (container.children.length > 1) {
      container.children[0].remove();
    }
    var newChild = document.createElement("div"); 
    newChild.className = "hero-img";
    var size = window.innerWidth < 400? "small" : "medium";
    newChild.style.backgroundImage = "url('/img/speakers/" + size + "/" + index + "/" + heroCounter + ".jpg')";
    container.appendChild(newChild);
  });
  heroCounter = (heroCounter + 1) % 6; 
  registerTimeout();
}
function registerTimeout() {
  timer = setTimeout(replaceSpeaker, 3000);
}

// pause animation while in background
document.addEventListener("visibilitychange", function() {
  if (document.visibilityState == 'visible') {
    console.log("Timer restarted");
    registerTimeout();
  } else {
    console.log("Timer paused");
    clearTimeout(timer)
    timer = null;
  }
}, false);
registerTimeout();
</script>

  <div class="home-highlight">
    <svg class="home-separator" viewBox="0 0 500 500" preserveAspectRatio="none" aria-hidden="true">
      <polygon points="0,500 0,0 500,0" fill="#fff"></polygon>
    </svg>

    <section class="content">

      <h1>{{ i18n "TheEvent" }}</h1>
      <p>{{ i18n "EventDescShort" }}</p>
      <p>{{ i18n "EventDesc" | safeHTML }}</p>
      <p class="actions">
        <a class="button primary" href="https://www.koliseo.com/commit/commit-2019">
          {{ i18n "SubmitYourTalk" }}
          <span class="button-small">{{ i18n "CallForPapersIsOpen" }}</span>
        </a>
        <a class="button" href="https://www.koliseo.com/commit/commit-2019">
          {{ i18n "Tickets" }}
          <span class="button-small">{{ i18n "TicketsAvailableNow" }}</span>
        </a>
      </p> 
    </section>
  </div>

  {{ partial "stats.html" . }}

  {{ partial "r4p.html" . }}

  {{ partial "location.html" . }}

  <hr>

  {{ partial "communities.html" . }}

  {{ partial "maillist.html" . }}

