<section id="about" class="stats">
  <div class="content">
    <div class="numbers">
      <div class="number-and-text">
        <p class="number">+2,000</p>
        <p class="text">{{ i18n "Attendees" }}</p>
      </div>
      <div class="number-and-text">
        <p class="number">+30</p>
        <p class="text">{{ i18n "Communities" }}</p>
      </div>
      <div class="number-and-text">
        <p class="number">+150</p>
        <p class="text">{{ i18n "TalksAndLabs" | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>