<section id="about" class="stats">
  <div class="content numbers">
    <div class="number-and-text">
      <div class="number">2,000</div>
      <div class="text">{{ i18n "Attendees" }}</div>
    </div>
    <div class="number-and-text">
      <div class="number">45</div>
      <div class="text">{{ i18n "Communities" }}</div>
    </div>
    <div class="number-and-text">
      <div class="number">150</div>
      <div class="text">{{ i18n "TalksAndLabs" | safeHTML }}</div>
    </div>
  </div>
</section>