
<section class="content">
  <div class="main">
    <h1>{{ i18n "Streaming" }}</h1>
    <p>{{ i18n "StreamingDesc" | safeHTML }}</p>
    <div class="actions">
      <a href="https://www.koliseo.com/events/commit-2018/r4p/5630471824211968/agenda" class="button primary">{{ i18n "GoToTheAgenda" }}</a>
      <a href="https://www.youtube.com/channel/UCd_1KHg4t2VKGsSDF8OD5Cw/videos?view=2&flow=grid&live_view=502&view_as=subscriber" class="button">{{ i18n "GoToTheYoutubeChannel" }}</a>
    </div>
  </div>
</section>

{{ partial "separator.html" (dict "class" "theme-1") }}
 